<h1>Product page</h1>
<h2>Product list</h2>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
    <th>Category</th>
    <th>Function</th>
  </tr>
  {{#each product_list}}
    <tr>
      <td>{{name}}</td>
      <td>{{price}}</td>
      <td>
        <img src="{{image}}" width="150" height="150">
      </td>
      <td>{{category.name}}</td>
      <td>
        <a href="/product/edit/{{_id}}">Edit</a>
        <a href="/product/delete/{{_id}}">Delete</a>
      </td>
    </tr>
  {{/each}}

</table>